A4_Ecommerce_NIFI_Final.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>17d7f753-0192-1000-99cb-8b437d128a1d</groupId>
    <name>A4 Ecommerce Final</name>
    <snippet>
        <controllerServices>
            <id>2706f156-8206-318c-0000-000000000000</id>
            <parentGroupId>f7823efa-990d-32dc-0000-000000000000</parentGroupId>
            <versionedComponentId>2706f156-8206-318c-a5fa-56ac404cc518</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>MySQL - DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://localhost:3306</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/usr/share/java</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>show databases</value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>dfda6dcf-7f56-3959-0000-000000000000</id>
            <parentGroupId>f7823efa-990d-32dc-0000-000000000000</parentGroupId>
            <versionedComponentId>dfda6dcf-7f56-3959-b4d5-01bafc0dbeb0</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>A3</key>
                    <value>
                        <name>A3</name>
                    </value>
                </entry>
                <entry>
                    <key>A4</key>
                    <value>
                        <name>A4</name>
                    </value>
                </entry>
                <entry>
                    <key>covid-country</key>
                    <value>
                        <name>covid-country</name>
                    </value>
                </entry>
                <entry>
                    <key>station</key>
                    <value>
                        <name>station</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>A3</key>
                    <value>{
  "type": "record",
  "name": "TwitterRecord",
  "fields": [
    {
      "name": "lang",
      "type": "string"
    },
    {
      "name": "retweet_count",
      "type": "int"
    },
    {
      "name": "userid",
      "type": "long"
    },
    {
      "name": "followers_count",
      "type": "int"
    },
    {
      "name": "screen_name",
      "type": "string"
    },
    {
      "name": "friends_count",
      "type": "int"
    },
    {
      "name": "hashtags",
      "type": {
        "type": "array",
        "items": "string"
      }
    }
  ]
}
</value>
                </entry>
                <entry>
                    <key>A4</key>
                    <value>{
  "type": "record",
  "name": "OrderRecord",
  "fields": [
    {
      "name": "order_id",
      "type": "string"
    },
    {
      "name": "customer_id",
      "type": "string"
    },
    {
      "name": "order_amount",
      "type": "string"
    },
    {
      "name": "order_date",
      "type": "string"
    },
    {
      "name": "city_id",
      "type": "int"
    },
    {
      "name": "status_id",
      "type": "int"
    }
  ]
}
</value>
                </entry>
                <entry>
                    <key>covid-country</key>
                    <value>{    
     "type": "record",
     "namespace": "covid",
     "name": "data",
     "fields": [
	{ "name": "city", "type": ["string" , "null" ]},
	{ "name": "province", "type": "string" },
	{ "name": "country", "type": "string" },
    { "name": "lastUpdate", "type": "string" },
	{ "name": "keyId", "type": "string" },
	{ "name": "confirmed", "type": "int" },
	{ "name": "deaths", "type": "int" },
	{ "name": "recovered", "type": ["int", "null"]}
      ]
}</value>
                </entry>
                <entry>
                    <key>station</key>
                    <value>{
    "name": "station",
    "type": "record",
    "fields": [
      {
        "name": "pk",
        "type": "int"
      },
      {
        "name": "name",
        "type": "string"
      },
      {
        "name": "longitude",
        "type": "double"
      },
      {
        "name": "latitude",
        "type": "double"
      }
    ]
}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <processGroups>
            <id>b62308a2-160e-31e6-0000-000000000000</id>
            <parentGroupId>f7823efa-990d-32dc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>b62308a2-160e-31e6-8900-2e703aa6982b</versionedComponentId>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>00bba92d-a24d-3e4c-0000-000000000000</id>
                    <parentGroupId>b62308a2-160e-31e6-0000-000000000000</parentGroupId>
                    <position>
                        <x>992.0</x>
                        <y>128.0</y>
                    </position>
                    <versionedComponentId>00bba92d-a24d-3e4c-9db8-6f27b11999be</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>381ad13f-6760-3932-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>381ad13f-6760-3932-a794-c03d0f8c6ed4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>3a2e6d2b-b9bc-3169-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3a2e6d2b-b9bc-3169-9696-34ed4db183de</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>insert</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>e0e6303b-2c78-35d3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e0e6303b-2c78-35d3-9973-fc37e8b8ebc4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5446f558-33ed-30d7-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>5446f558-33ed-30d7-8297-cb867d01ae0c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>7a25db79-9fef-3aff-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7a25db79-9fef-3aff-84c7-cbed90f8b777</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>3a2e6d2b-b9bc-3169-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3a2e6d2b-b9bc-3169-9696-34ed4db183de</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>58da4258-0a6d-31b7-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>58da4258-0a6d-31b7-ba1c-e78092c80cfa</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>e2d6ea9d-d8da-343e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e2d6ea9d-d8da-343e-8157-26337725faa4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>3a2e6d2b-b9bc-3169-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3a2e6d2b-b9bc-3169-9696-34ed4db183de</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>78a778ab-324d-3270-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>78a778ab-324d-3270-8fe5-1edad9c40ab5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>e0e6303b-2c78-35d3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e0e6303b-2c78-35d3-9973-fc37e8b8ebc4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>61ed7375-dd50-3a5d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>61ed7375-dd50-3a5d-8043-cfabee0fade1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>aa63ee70-5266-32e1-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>aa63ee70-5266-32e1-8c67-f2ac56c85e4e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>30ee0b3c-b96f-3d30-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>30ee0b3c-b96f-3d30-81b6-711b7607e912</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>e2d6ea9d-d8da-343e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e2d6ea9d-d8da-343e-8157-26337725faa4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c056bb18-9de8-32df-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>c056bb18-9de8-32df-81df-9d0cb74a256c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>cb5a8705-73d4-30ce-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>cb5a8705-73d4-30ce-b40c-893cff6f3920</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>e0e6303b-2c78-35d3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e0e6303b-2c78-35d3-9973-fc37e8b8ebc4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e027f39b-1cbd-333a-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>e027f39b-1cbd-333a-95b1-9ff4df07c73d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>61ed7375-dd50-3a5d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>61ed7375-dd50-3a5d-8043-cfabee0fade1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>00bba92d-a24d-3e4c-0000-000000000000</groupId>
<id>b41f62f4-51d8-35f9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b41f62f4-51d8-35f9-87ec-5eded0b29b7d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>75e55cc0-2c24-32a2-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>75e55cc0-2c24-32a2-bd03-44eeed53134c</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-distributed-cache-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Port</key>
    <value>
        <name>Port</name>
    </value>
</entry>
<entry>
    <key>Maximum Cache Entries</key>
    <value>
        <name>Maximum Cache Entries</name>
    </value>
</entry>
<entry>
    <key>Eviction Strategy</key>
    <value>
        <name>Eviction Strategy</name>
    </value>
</entry>
<entry>
    <key>Persistence Directory</key>
    <value>
        <name>Persistence Directory</name>
    </value>
</entry>
<entry>
    <key>SSL Context Service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
        <name>SSL Context Service</name>
    </value>
</entry>
<entry>
    <key>maximum-read-size</key>
    <value>
        <name>maximum-read-size</name>
    </value>
</entry>
                            </descriptors>
                            <name>DistributedMapCacheServer</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Port</key>
    <value>4557</value>
</entry>
<entry>
    <key>Maximum Cache Entries</key>
    <value>10000</value>
</entry>
<entry>
    <key>Eviction Strategy</key>
    <value>Least Frequently Used</value>
</entry>
<entry>
    <key>Persistence Directory</key>
</entry>
<entry>
    <key>SSL Context Service</key>
</entry>
<entry>
    <key>maximum-read-size</key>
    <value>1 MB</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer</type>
                        </controllerServices>
                        <controllerServices>
                            <id>7bb6da98-3d8a-33b9-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>7bb6da98-3d8a-33b9-8356-4f790d2a6375</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
<entry>
    <key>encoder-pool-size</key>
    <value>
        <name>encoder-pool-size</name>
    </value>
</entry>
                            </descriptors>
                            <name>AvroRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>avro-embedded</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>NONE</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
<entry>
    <key>encoder-pool-size</key>
    <value>32</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>840578f5-7364-335d-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>840578f5-7364-335d-b0dc-3156f1b4a250</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <dependencies>
            <dependentValues>infer-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>
        <name>starting-field-strategy</name>
    </value>
</entry>
<entry>
    <key>starting-field-name</key>
    <value>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>starting-field-name</name>
    </value>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>schema-text-property</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>schema-application-strategy</name>
    </value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>
        <name>Max String Length</name>
    </value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>
        <name>Allow Comments</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader - A4</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-name</value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>dfda6dcf-7f56-3959-0000-000000000000</value>
</entry>
<entry>
    <key>schema-name</key>
    <value>A4</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>ROOT_NODE</value>
</entry>
<entry>
    <key>starting-field-name</key>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>SELECTED_PART</value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>20 MB</value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>false</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>dc199a8d-ae07-3aca-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <versionedComponentId>dc199a8d-ae07-3aca-ba84-647e60b2b3ef</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-distributed-cache-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Server Hostname</key>
    <value>
        <name>Server Hostname</name>
    </value>
</entry>
<entry>
    <key>Server Port</key>
    <value>
        <name>Server Port</name>
    </value>
</entry>
<entry>
    <key>SSL Context Service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
        <name>SSL Context Service</name>
    </value>
</entry>
<entry>
    <key>Communications Timeout</key>
    <value>
        <name>Communications Timeout</name>
    </value>
</entry>
                            </descriptors>
                            <name>DistributedMapCacheClientService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Server Hostname</key>
    <value>localhost</value>
</entry>
<entry>
    <key>Server Port</key>
    <value>4557</value>
</entry>
<entry>
    <key>SSL Context Service</key>
</entry>
<entry>
    <key>Communications Timeout</key>
    <value>30 secs</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
                        </controllerServices>
                        <funnels>
                            <id>cb5a8705-73d4-30ce-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>608.0</x>
<y>-136.0</y>
                            </position>
                            <versionedComponentId>cb5a8705-73d4-30ce-b40c-893cff6f3920</versionedComponentId>
                        </funnels>
                        <processors>
                            <id>30ee0b3c-b96f-3d30-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>-752.0</x>
<y>192.0</y>
                            </position>
                            <versionedComponentId>30ee0b3c-b96f-3d30-81b6-711b7607e912</versionedComponentId>
                            <bundle>
<artifact>nifi-parquet-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>compression-type</key>
        <value>
            <name>compression-type</name>
        </value>
    </entry>
    <entry>
        <key>overwrite</key>
        <value>
            <name>overwrite</name>
        </value>
    </entry>
    <entry>
        <key>permissions-umask</key>
        <value>
            <name>permissions-umask</name>
        </value>
    </entry>
    <entry>
        <key>remote-group</key>
        <value>
            <name>remote-group</name>
        </value>
    </entry>
    <entry>
        <key>remote-owner</key>
        <value>
            <name>remote-owner</name>
        </value>
    </entry>
    <entry>
        <key>row-group-size</key>
        <value>
            <name>row-group-size</name>
        </value>
    </entry>
    <entry>
        <key>page-size</key>
        <value>
            <name>page-size</name>
        </value>
    </entry>
    <entry>
        <key>dictionary-page-size</key>
        <value>
            <name>dictionary-page-size</name>
        </value>
    </entry>
    <entry>
        <key>max-padding-size</key>
        <value>
            <name>max-padding-size</name>
        </value>
    </entry>
    <entry>
        <key>enable-dictionary-encoding</key>
        <value>
            <name>enable-dictionary-encoding</name>
        </value>
    </entry>
    <entry>
        <key>enable-validation</key>
        <value>
            <name>enable-validation</name>
        </value>
    </entry>
    <entry>
        <key>writer-version</key>
        <value>
            <name>writer-version</name>
        </value>
    </entry>
    <entry>
        <key>avro-write-old-list-structure</key>
        <value>
            <name>avro-write-old-list-structure</name>
        </value>
    </entry>
    <entry>
        <key>avro-add-list-element-records</key>
        <value>
            <name>avro-add-list-element-records</name>
        </value>
    </entry>
    <entry>
        <key>remove-crc-files</key>
        <value>
            <name>remove-crc-files</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>840578f5-7364-335d-0000-000000000000</value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/A4/parquet</value>
    </entry>
    <entry>
        <key>compression-type</key>
        <value>SNAPPY</value>
    </entry>
    <entry>
        <key>overwrite</key>
        <value>true</value>
    </entry>
    <entry>
        <key>permissions-umask</key>
    </entry>
    <entry>
        <key>remote-group</key>
    </entry>
    <entry>
        <key>remote-owner</key>
    </entry>
    <entry>
        <key>row-group-size</key>
    </entry>
    <entry>
        <key>page-size</key>
    </entry>
    <entry>
        <key>dictionary-page-size</key>
    </entry>
    <entry>
        <key>max-padding-size</key>
    </entry>
    <entry>
        <key>enable-dictionary-encoding</key>
    </entry>
    <entry>
        <key>enable-validation</key>
    </entry>
    <entry>
        <key>writer-version</key>
    </entry>
    <entry>
        <key>avro-write-old-list-structure</key>
        <value>true</value>
    </entry>
    <entry>
        <key>avro-add-list-element-records</key>
        <value>true</value>
    </entry>
    <entry>
        <key>remove-crc-files</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>100 ms</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutParquet</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.parquet.PutParquet</type>
                        </processors>
                        <processors>
                            <id>3a2e6d2b-b9bc-3169-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>216.0</y>
                            </position>
                            <versionedComponentId>3a2e6d2b-b9bc-3169-9696-34ed4db183de</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-transform</propertyName>
            </dependencies>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-transform</propertyName>
            </dependencies>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[
  {
    "operation": "shift",
    "spec": {
      "columns": {
        "*": {
          "@(value)": "@(1,name)"
        }
      }
    }
  }
]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>61ed7375-dd50-3a5d-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>-136.0</x>
<y>0.0</y>
                            </position>
                            <versionedComponentId>61ed7375-dd50-3a5d-8043-cfabee0fade1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <dependencies>
                <dependentValues>flowfile-attribute</dependentValues>
                <propertyName>Destination</propertyName>
            </dependencies>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
    <entry>
        <key>operation</key>
        <value>
            <name>operation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
    <entry>
        <key>operation</key>
        <value>$.type</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>7a25db79-9fef-3aff-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>448.0</y>
                            </position>
                            <versionedComponentId>7a25db79-9fef-3aff-84c7-cbed90f8b777</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-6-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>use-transactions</propertyName>
            </dependencies>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <dependencies>
                <dependentValues>PLAIN</dependentValues>
                <dependentValues>SCRAM-SHA-512</dependentValues>
                <dependentValues>SCRAM-SHA-256</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <dependencies>
                <dependentValues>PLAIN</dependentValues>
                <dependentValues>SCRAM-SHA-512</dependentValues>
                <dependentValues>SCRAM-SHA-256</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>aws.profile.name</key>
        <value>
            <dependencies>
                <dependentValues>AWS_MSK_IAM</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>aws.profile.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <dependencies>
                <dependentValues>SCRAM-SHA-512</dependentValues>
                <dependentValues>SCRAM-SHA-256</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>localhost:9092</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>a4_ecommerce</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>\n</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>GSSAPI</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>aws.profile.name</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Publish Data To Kafka</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                        </processors>
                        <processors>
                            <id>b41f62f4-51d8-35f9-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>-752.0</x>
<y>8.0</y>
                            </position>
                            <versionedComponentId>b41f62f4-51d8-35f9-87ec-5eded0b29b7d</versionedComponentId>
                            <bundle>
<artifact>nifi-cdc-mysql-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>capture-change-mysql-hosts</key>
        <value>
            <name>capture-change-mysql-hosts</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-driver-class</key>
        <value>
            <name>capture-change-mysql-driver-class</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-driver-locations</key>
        <value>
            <name>capture-change-mysql-driver-locations</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-username</key>
        <value>
            <name>capture-change-mysql-username</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-password</key>
        <value>
            <name>capture-change-mysql-password</name>
        </value>
    </entry>
    <entry>
        <key>events-per-flowfile-strategy</key>
        <value>
            <name>events-per-flowfile-strategy</name>
        </value>
    </entry>
    <entry>
        <key>number-of-events-per-flowfile</key>
        <value>
            <dependencies>
                <dependentValues>MAX_EVENTS_PER_FLOWFILE</dependentValues>
                <propertyName>events-per-flowfile-strategy</propertyName>
            </dependencies>
            <name>number-of-events-per-flowfile</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-server-id</key>
        <value>
            <name>capture-change-mysql-server-id</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-db-name-pattern</key>
        <value>
            <name>capture-change-mysql-db-name-pattern</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-name-pattern</key>
        <value>
            <name>capture-change-mysql-name-pattern</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-max-wait-time</key>
        <value>
            <name>capture-change-mysql-max-wait-time</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-dist-map-cache-client</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>capture-change-mysql-dist-map-cache-client</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-retrieve-all-records</key>
        <value>
            <name>capture-change-mysql-retrieve-all-records</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-include-begin-commit</key>
        <value>
            <name>capture-change-mysql-include-begin-commit</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-include-ddl-events</key>
        <value>
            <name>capture-change-mysql-include-ddl-events</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-state-update-interval</key>
        <value>
            <name>capture-change-mysql-state-update-interval</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-init-seq-id</key>
        <value>
            <name>capture-change-mysql-init-seq-id</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-init-binlog-filename</key>
        <value>
            <name>capture-change-mysql-init-binlog-filename</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-init-binlog-position</key>
        <value>
            <name>capture-change-mysql-init-binlog-position</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-use-gtid</key>
        <value>
            <name>capture-change-mysql-use-gtid</name>
        </value>
    </entry>
    <entry>
        <key>capture-change-mysql-init-gtid</key>
        <value>
            <name>capture-change-mysql-init-gtid</name>
        </value>
    </entry>
    <entry>
        <key>SSL Mode</key>
        <value>
            <name>SSL Mode</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <dependencies>
                <dependentValues>PREFERRED</dependentValues>
                <dependentValues>VERIFY_IDENTITY</dependentValues>
                <dependentValues>REQUIRED</dependentValues>
                <propertyName>SSL Mode</propertyName>
            </dependencies>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>capture-change-mysql-hosts</key>
        <value>localhost:3306</value>
    </entry>
    <entry>
        <key>capture-change-mysql-driver-class</key>
        <value>com.mysql.cj.jdbc.Driver</value>
    </entry>
    <entry>
        <key>capture-change-mysql-driver-locations</key>
        <value>/usr/share/java</value>
    </entry>
    <entry>
        <key>capture-change-mysql-username</key>
        <value>root</value>
    </entry>
    <entry>
        <key>capture-change-mysql-password</key>
    </entry>
    <entry>
        <key>events-per-flowfile-strategy</key>
        <value>MAX_EVENTS_PER_FLOWFILE</value>
    </entry>
    <entry>
        <key>number-of-events-per-flowfile</key>
        <value>1</value>
    </entry>
    <entry>
        <key>capture-change-mysql-server-id</key>
        <value>10</value>
    </entry>
    <entry>
        <key>capture-change-mysql-db-name-pattern</key>
        <value>ecommerce</value>
    </entry>
    <entry>
        <key>capture-change-mysql-name-pattern</key>
        <value>orders</value>
    </entry>
    <entry>
        <key>capture-change-mysql-max-wait-time</key>
        <value>30 seconds</value>
    </entry>
    <entry>
        <key>capture-change-mysql-dist-map-cache-client</key>
    </entry>
    <entry>
        <key>capture-change-mysql-retrieve-all-records</key>
        <value>true</value>
    </entry>
    <entry>
        <key>capture-change-mysql-include-begin-commit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>capture-change-mysql-include-ddl-events</key>
        <value>true</value>
    </entry>
    <entry>
        <key>capture-change-mysql-state-update-interval</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>capture-change-mysql-init-seq-id</key>
    </entry>
    <entry>
        <key>capture-change-mysql-init-binlog-filename</key>
    </entry>
    <entry>
        <key>capture-change-mysql-init-binlog-position</key>
    </entry>
    <entry>
        <key>capture-change-mysql-use-gtid</key>
        <value>false</value>
    </entry>
    <entry>
        <key>capture-change-mysql-init-gtid</key>
    </entry>
    <entry>
        <key>SSL Mode</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>CaptureChangeMySQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.cdc.mysql.processors.CaptureChangeMySQL</type>
                        </processors>
                        <processors>
                            <id>e0e6303b-2c78-35d3-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>8.0</y>
                            </position>
                            <versionedComponentId>e0e6303b-2c78-35d3-9973-fc37e8b8ebc4</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>insert</key>
        <value>
            <name>insert</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>insert</key>
        <value>${operation:equals("insert")}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>insert</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>e2d6ea9d-d8da-343e-0000-000000000000</id>
                            <parentGroupId>00bba92d-a24d-3e4c-0000-000000000000</parentGroupId>
                            <position>
<x>-136.0</x>
<y>200.0</y>
                            </position>
                            <versionedComponentId>e2d6ea9d-d8da-343e-8157-26337725faa4</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Merge Strategy</key>
        <value>
            <name>Merge Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>
            <name>Merge Format</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Correlation Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>
            <dependencies>
                <dependentValues>Avro</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>mergecontent-metadata-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>
            <name>Max Bin Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>
            <name>Maximum number of Bins</name>
        </value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Delimiter Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Header File</name>
        </value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Footer File</name>
        </value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Demarcator File</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Keep Path</name>
        </value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>
            <dependencies>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Tar Modified Time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Merge Strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>Binary Concatenation</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>Do Not Merge Uncommon Metadata</value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>5000</value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>0 KB</value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
    </entry>
    <entry>
        <key>Max Bin Age</key>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>[</value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>]</value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>,</value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>${file.lastModifiedTime}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeContent</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeContent</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>CDC</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>742e6732-189e-334f-0000-000000000000</id>
                    <parentGroupId>b62308a2-160e-31e6-0000-000000000000</parentGroupId>
                    <position>
                        <x>504.0</x>
                        <y>120.0</y>
                    </position>
                    <versionedComponentId>742e6732-189e-334f-acf1-9a7f7ee20b4b</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>46fd5a70-4537-3795-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <versionedComponentId>46fd5a70-4537-3795-b7a6-5d0cfe125478</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>f765ee3e-85bb-369d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f765ee3e-85bb-369d-8191-475a6bddd73f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>b6c2d50e-822b-3732-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b6c2d50e-822b-3732-bde0-365faf4315e3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>52fe25c9-43cc-33cb-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <versionedComponentId>52fe25c9-43cc-33cb-ac66-1a04c5efa55b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>b6c2d50e-822b-3732-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b6c2d50e-822b-3732-bde0-365faf4315e3</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>81c0ddc9-8159-33f1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>81c0ddc9-8159-33f1-a515-a891d9f9166f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>88d52a86-8689-3467-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <versionedComponentId>88d52a86-8689-3467-a90e-da57ffa8ef57</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>656e03d4-d46d-3602-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>656e03d4-d46d-3602-b6bf-3345069cedf0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>f765ee3e-85bb-369d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f765ee3e-85bb-369d-8191-475a6bddd73f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>914e701c-3293-35a9-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <versionedComponentId>914e701c-3293-35a9-a530-2a92feee3efb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>778d4d30-1a86-3692-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>778d4d30-1a86-3692-83d3-7b580d72df1a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>81c0ddc9-8159-33f1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>81c0ddc9-8159-33f1-a515-a891d9f9166f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bb3b1bd4-bbd4-310a-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <versionedComponentId>bb3b1bd4-bbd4-310a-abad-a1807f4c3837</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>81c0ddc9-8159-33f1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>81c0ddc9-8159-33f1-a515-a891d9f9166f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>742e6732-189e-334f-0000-000000000000</groupId>
<id>21ac1ffc-7a8c-3187-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>21ac1ffc-7a8c-3187-ba7b-7e1ce6de899d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>656e03d4-d46d-3602-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <position>
<x>503.5534592820751</x>
<y>1057.2819026925063</y>
                            </position>
                            <versionedComponentId>656e03d4-d46d-3602-b6bf-3345069cedf0</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>778d4d30-1a86-3692-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <position>
<x>952.0</x>
<y>376.0</y>
                            </position>
                            <versionedComponentId>778d4d30-1a86-3692-83d3-7b580d72df1a</versionedComponentId>
                        </funnels>
                        <processors>
                            <id>21ac1ffc-7a8c-3187-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <position>
<x>334.0</x>
<y>59.0</y>
                            </position>
                            <versionedComponentId>21ac1ffc-7a8c-3187-ba7b-7e1ce6de899d</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
  "order_id": "${UUID()}",
  "customer_id": "${UUID()}",
  "order_amount": "${random():mod(1001)}.${random():mod(100)}",
  "year": "${random():mod(4):plus(2022)}",
  "month": "${random():mod(12):plus(1)}",
  "city_id": "${random():mod(8):plus(1)}",
  "status_id": "${random():mod(4):plus(1)}",
  "day": "${month :equals(2) :ifElse(${random():mod(28):plus(1)}, ${month :in(4,6,9,11) :ifElse(${random():mod(30):plus(1)}, ${random():mod(31):plus(1)})})}"
}


</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>application/json</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>81c0ddc9-8159-33f1-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <position>
<x>336.0</x>
<y>304.0</y>
                            </position>
                            <versionedComponentId>81c0ddc9-8159-33f1-a515-a891d9f9166f</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-transform</propertyName>
            </dependencies>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-transform</propertyName>
            </dependencies>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[
  {
    "operation": "modify-default-beta",
    "spec": {
      "order_date": "=concat(@(1,year),'-',@(1,month), '-', @(1,day))"
    }
  },
  {
    "operation": "shift",
    "spec": {
      "order_id": "order_id",
      "customer_id": "customer_id",
      "order_amount": "order_amount",
      "order_date": "order_date",
      "city_id": "city_id",
      "status_id": "status_id"
    }
  }
]
</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>b6c2d50e-822b-3732-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <position>
<x>336.0</x>
<y>536.0</y>
                            </position>
                            <versionedComponentId>b6c2d50e-822b-3732-bde0-365faf4315e3</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>2706f156-8206-318c-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>orders</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>ecommerce</value>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>f765ee3e-85bb-369d-0000-000000000000</id>
                            <parentGroupId>742e6732-189e-334f-0000-000000000000</parentGroupId>
                            <position>
<x>336.0</x>
<y>800.0</y>
                            </position>
                            <versionedComponentId>f765ee3e-85bb-369d-8191-475a6bddd73f</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.27.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>2706f156-8206-318c-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Ecommerce Data Generation</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>A4 Ecommerce Data Generation</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/29/2025 22:31:46 EDT</timestamp>
</template>
